page-memedoge {
    img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: scale-down;
        object-position: top left;
    }
    .meme-container {
        position: absolute;
        top: 0;
        left: 0;
    }
}
