page-memedoge {
    .meme-container,
    img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: scale-down;
        object-position: top left;
    }
}
