text-block {
  .text-block {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 50;
    .input,
    .display {
      position: absolute;
      width: 60em;
      top: 0;
      left: 0;
      // font-family: cursive;
      // font-size: 24pt;
      // font-weight: 900;
      z-index: 200;
    }
    .input {
      background: white;
      color: black;
      border: none;
      border-bottom: 2pt solid black;
    }
    .input input::after {
      content: 'Ⓧ';
    }
  }
}
