text-block {

  .text-block-container {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    z-index: 50;
    .input,
    .display {
      position: absolute;
      width: 60em;
      z-index: 200;
    }
    .input {
      background-color: white;
      color: black;
      border: none;
      border-bottom: 2pt solid black;
      z-index: 300;
    }
  }
  input::-moz-selection {
    background-color: #ddd;
    color: black;
  }
  input::selection {
    background-color: #ddd;
    color: black;
  }
}
