page-most-interesting-man {
  #meme-text-container {
    line-height: 1.2;
    font-family: AntonRegular;
    font-size: 7vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.4); //
    -webkit-text-stroke: 2pt rgba(0, 0, 0, 0.4); //
    text-shadow: -1pt -1pt 0 black, 1pt -1pt 0 black, -1pt 1pt 0 black, 1pt 1pt 0 black;
  }
}
