  color-picker-popover {
    position: absolute;
    top: 0;
    left: 0;
    .color-picker-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 2em;
      border: 3pt double black;
      padding: 2em;
      background: white;
      opacity: 1;
      z-index: 1000;
      width: auto;
      height: auto;
      text-align: center;
      #picker {
        position: relative;
        cursor: crosshair;
      }
      .cancel,
      .preview {
        position: relative;
        border-radius: 1em;
        border: 1px solid grey;
        cursor: pointer;
        height: 2em;
        margin-bottom: 1em;
        width: 50%;
        float: left;
      }
    }
  }
