<div>
  <div class="screen-overlay"></div>
  <div class="color-picker-container">

    <canvas id="picker" var="1" width="300" height="300" (click)='onClick($event)'></canvas>

    <ion-range steps min='0' max='100' pin='true' [(ngModel)]="chosenOpacity" (ionChange)='setColor()'>
      <ion-label range-left>Clear</ion-label>
      <ion-label range-right>Solid</ion-label>
    </ion-range>

    <div (click)='onCancel()' class="cancel" [style]="originalStyle">
      <ion-label>Cancel</ion-label>
    </div>
    <div (click)='onOk()' class="preview" [style]="getStyleAttr()">
      <ion-label>OK</ion-label>
    </div>

  </div>
</div>
