// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#meme-text-container,
.meme-text-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: transparent;
  font-size: 4vh;
}
#meme-text-container {
  width: 100%;
  height: 100%;
}

img.meme-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: scale-down;
  object-position: top left;
}

.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.modal-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'AntonRegular';
  src: url('/assets/Anton/AntonRegular.eot');
  src: url('/assets/Anton/AntonRegular.eot') format('embedded-opentype'),
       url('/assets/Anton/AntonRegular.woff2') format('woff2'),
       url('/assets/Anton/AntonRegular.woff') format('woff'),
       url('/assets/Anton/AntonRegular.ttf') format('truetype'),
       url('/assets/Anton/AntonRegular.svg#AntonRegular') format('svg');
}

@font-face {
  font-family: 'PermanentMarkerRegular';
  src: url('/assets/PermanentMarker/PermanentMarkerRegular.eot');
  src: url('/assets/PermanentMarker/PermanentMarkerRegular.eot') format('embedded-opentype'),
       url('/assets/PermanentMarker/PermanentMarkerRegular.woff2') format('woff2'),
       url('/assets/PermanentMarker/PermanentMarkerRegular.woff') format('woff'),
       url('/assets/PermanentMarker/PermanentMarkerRegular.ttf') format('truetype'),
       url('/assets/PermanentMarker/PermanentMarkerRegular.svg#PermanentMarkerRegular') format('svg');
}

.toolbar-background,
ion-content {
   background-color: map-get($colors, dark) !important;
 }
.toolbar-title {
  color: map-get($colors,light) !important;
}
.toolbar .bar-button-default-md,
.toolbar .bar-button-clear-md-default,
.toolbar .bar-button-md-default {
  color: map-get($colors,light) !important;
}

.scroll-content {
  overflow: auto;
}

.alert-message {
  overflow:auto;
}

.image-selector {
  background: gray;
  padding: 2em;
  border: 4pt dashed silver;
  font-size: 200%;
}

