page-create {
    .meme-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .meme-image {
        object-fit: scale-down;
    }
}
