custom-text {
  .custom-text-container {
    position: absolute;
    width: 50%;
    height: 33%;
  }
  #menu-handle {
    width: auto;
    height: auto;
    position: absolute;
    top: -5pt;
    right: 1px;
    font-size: 10pt;
    z-index: 999;
    border-radius: 10pt;
    border: 1pt solid white;
    padding: 1pt;
    color: white;
    -webkit-text-stroke: 0;
    background: black;
  }
  textarea {
    resize: both;
    z-index: 900;
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  textarea::-webkit-scrollbar {
    display: none;
  }
}

// white-space: nowrap;
