page-orange {
  #meme-text-container {
    line-height: 1.2;
    font-family: AntonRegular;
    font-size: 5vh;
    color: white;
    -webkit-text-stroke: 1pt black;
    text-shadow: -1pt -1pt 0 black, 1pt -1pt 0 black, -1pt 1pt 0 black, 1pt 1pt 0 black;
  }
  .text-block,
  .text-block .display {
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.4vh 0;
  }
}
