page-wonka {
  #meme-text-container {
    line-height: 1.2;
    font-family: AntonRegular;
    font-size: 5vh;
    color: white;
    // -webkit-text-stroke: 0.5pt rgba(0, 0, 0, 0.6);
    -webkit-text-stroke-width: 0.5pt;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
    text-shadow: -1pt -1pt 0 black, 1pt -1pt 0 black, -1pt 1pt 0 black, 1pt 1pt 0 black;
  }
  .custom-text,
  .text-block,
  .text-block .display {
    line-height: 1.2;
    font-family: AntonRegular;
    font-size: 5vh;
    color: white;
    background:rgba(0,0,0,0.3);
    // -webkit-text-stroke: 0.5pt rgba(0, 0, 0, 0.6);
    -webkit-text-stroke-width: 0.5pt;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
    text-shadow: -1pt -1pt 0 black, 1pt -1pt 0 black, -1pt 1pt 0 black, 1pt 1pt 0 black;
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.4vh 0;
  }
}
